.item {
	overflow: hidden;
}

.default {
	max-height: 22px;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 10px 0px;
}

.default:hover {
	cursor: pointer;
}

.selected {
	height: auto;
	max-height: 1000px;
	transition: max-height .5s ease-in;
	padding: 12px 0px;
}

.fullContent {

}

.videoContainer {}

.contentContainer {}


