.container {
	margin-bottom: 10px;
}

.containerHide {
	composes: container;
	max-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: .2s;
}

.containerShow {
	composes: container;
	max-height: 1000px;
	transition: .5s;
}

.toggle {
	font: 400 11px system-ui;
}

.toggle:hover {
	cursor: pointer;
}

.list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.suggestion {
	padding: 5px 0px;
}

.suggestion:hover {
	cursor: pointer;
}

.showTitle {
	font-weight: bold;
}
