.containerHide {
	max-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: .2s;
}

.containerShow {
	max-height: 1000px;
	transition: .5s;
	padding: 12px 0px;
}

.list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.suggestion{
	padding: 5px 0px
}

.showTitle {
	font-weight: bold;
}
