body {
	margin: 0;
	font: 400 14px system-ui;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.content {
	 max-width: 500px;
	 width: 100%;
}

.suggestionContainer {}

.playlistContainer {}
