.container {
  flex: 1;
  width: 100%;
  max-width: 500px;
	padding: 12px;
}

.top {}

.bottom {
	font-size: 12px;
	min-height: 28px;
}

.error {
	opacity: 0;
	transition: opacity .2s;
	color: #db2228;
}

.error:not(:empty) {
	opacity: 1;
}
